<div class="row">
    <div class="col-sm-8">
        <div class="jumbotron">
            <h1>Dados da instancia</h1>
            <p>Colocar os dados da instancia executando o codigo.</p>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="well">
            <h3>Colocar alguma info posteriormente</h3>
        </div>
    </div>
</div>